a {color: #000000; outline: none;} a:active, a:focus {outline: none;}
body { text-align: center; }
img.iomq { margin-top: 50px; margin-left: 25px; margin-right: 25px;}
img.logo { margin-top: 20px; margin-left: 25px; margin-right: 25px;}